google-api-python-client
isodate
youtube-transcript-api
streamlit==1.46.1
yt-dlp
scenedetect[opencv]
matplotlib==3.10.3
pandas>=2.2.2
numpy>=2.1.0,<3
openai-whisper
PyQt6
opencv-python-headless==4.12.0.88

#opencv-python==4.12.0.88

#moviepy       # For extracting audio from video
#parselmouth   # For pitch analysis using Praat
# System dependency: ffmpeg must be installed separately 